.home-background-color {
  background-color: rgb(154, 191, 231);
}

.navbar {
  font-family: "Bungee Shade", cursive;
  color: aliceblue;
}

.responsive-video {
  width: 100%;
  aspect-ratio: 16/9;
}

h1 {
  font-family: "Bungee Shade", cursive;
  color: rgb(4, 19, 32);
  font-size: 60px;
  padding-left: 20px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  padding-left: 20px;
  color: rgb(248, 248, 248);
}
.home-band-img {
  width: 100%;
}

.container-home {
  background-color: #cc36a2;
  padding-bottom: 30px;
  align-content: flex-start;
  align-content: center;
  padding-left: 20px;
}

.socials img {
  width: 20%;
  padding: 10px;
  align-items: center;
}

/* ABOUT */

.about-background-color {
  background-color: #2bd3de;
}

.about-container {
  background-color: #cc36a2;
}

.about {
  color: rgb(0, 5, 9);
  text-align: center;
}

.about-text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 10px;
}

.artist {
  padding-left: 20px;
  padding-top: 20px;
}

.about-text-members {
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
  padding-top: 10px;
  padding-right: 10px;
}

.about-images {
  padding-top: 50px;
  font-size: 12px;
}

.band {
  padding: 50px;
}

.band-text {
  font-size: 40px;
}

/* VIDEOS */

.video-background-color {
  background-color: #ee6a40;
}

.videos {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
}
.responsive-video {
  aspect-ratio: 16/9;
  width: 100%;
}
/* DISCOGRAPHY */

.disc-bakground-color {
  background-color: #ffc8c8;
}

.art {
  float: left;
}

.left {
  padding: 20px;
}

.right {
  padding: 20px;
}

.tracks {
  font-family: "Josefin Sans", sans-serif;
  padding: 10px;
  font-size: 20px;
  color: black;
}

.track-numbers {
  padding-left: 10px;
  font-size: 15px;
}

/* TOUR */

.tour-bakground-color {
  background-color: #129374;
}

.hall {
  font-size: 80px;
  text-align: center;
  padding: 40px;
}

.dates {
  font-size: 70px;
  text-align: center;
}

.ticket {
  text-align: center;
  font-size: 80px;
  color: black;
}

@media screen and (max-width: 600px) {
  .mobile {
    font-size: 40px;
  }

  .about {
    width: 80px;
  }

  .button {
    padding-left: 20px;
  }

  .about-text-members {
    padding-left: 20px;
  }

  .artist {
    padding-right: 20px;
  }

  .disc {
    font-size: 30px;
  }
  .art {
    padding-left: 50px;
  }

  .track-numbers {
    padding-left: 100px;
  }
  .tracks {
    padding-left: 100px;
  }

  .stream {
    padding: 20px;
  }

  .ticket {
    font-size: 60px;
  }

  .hall {
    font-size: 50px;
  }

  .dates {
    font-size: 40px;
  }
}
